<h1>Welcome to Angular {{title}} from {{location}}</h1>
<hr>
<!-- <div>
    <app-boxa labelValue="Location" [data]="location" (onBoxDataChange)="onBoxValuechange($event)"></app-boxa>

</div>
<div>
    <app-boxa [data]="location"></app-boxa> -->
<!-- the one inisde " " is property not a string, it is known by using '[]'' -->
<!-- </div>

<div>
    <app-customer-form></app-customer-form>
</div> -->
<!-- <app-count-display></app-count-display>
<app-hit-button></app-hit-button> -->
<app-counter-app></app-counter-app>